<%= render 'shared/header' %>

<!--Title-->
<h1 class="text-center">Frequently Asked Questions</h1>

<div class="container">
	<!--Questions at the top of page-->
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
		    	<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						How do I check out DVDs from the Jones Media Center?
		        	</a>
		      	</h4>
		    </div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      	<div class="panel-body">
					Simply, write down the DVD's call number and take it to the Jones Media circulation desk. One of our staff members will retrieve the DVD(s) from our collection.
				</div>
		    </div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
		    	<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						How long is the loan period?
					</a>
		      	</h4>
		    </div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      	<div class="panel-body">
					For students and staff, the loan period is 3 days. For faculty, the loan period is 7 days.
				</div>
		    </div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
		    	<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						What is the late fee?
					</a>
		      	</h4>
		    </div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      	<div class="panel-body">
					The late fee is $1 per day per item.
				</div>
		    </div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFour">
		    	<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						What does it mean when an item is "on reserve"?
					</a>
		      	</h4>
		    </div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      	<div class="panel-body">
					The item is on reserve for a class and it can only be watched in the media center.
				</div>
		    </div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFive">
		    	<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						How many DVDs can I check out at once?
					</a>
		      	</h4>
		    </div>
			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		      	<div class="panel-body">
					Students and staff can checkout a maximum of 3 items. Faculty members can check out an unlimited number of items.
				</div>
		    </div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSix">
		    	<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
						Can I place an item on hold?
					</a>
		      	</h4>
		    </div>
			<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
		      	<div class="panel-body">
					Items can only be placed on hold for faculty members.
				</div>
		    </div>
		</div>
	</div>
</div>
