<!-- Navigation bar for application. -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Jones Media Center Logo -->
    <div class="navbar-header">
      <%= link_to image_tag('jones-logo.png'), root_path, class: 'navbar-brand', alt: 'Brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- Link to home -->
        <li><%= link_to 'Home', root_path, id: 'home' %></li>

        <!-- Link to search by genre -->
        <li><%= link_to 'Browse by Genre', browse_path %></li>

        <!-- Searching by keyword -->
        <form action="search.html" class="navbar-form navbar-left" role="search" method="get">
          <div class="form-group">
            <input name="search" type="text" class="form-control search-field" placeholder="Search by Keyword">
          </div>
        </form>
      </ul>

      <!--link to f&q page -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class="questions-link" href="fandq">Frequently Asked<br/>Questions</a></li>
      </ul>
    </div>
  </div>
</nav>
