<!-- Navigation bar for application. -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Jones Media Center Logo -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="assets/jones-logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- Link to home -->
        <li><a href="index.html" id="home">Home</a></li>

        <!-- Link to search by genre -->
        <li><a href="search.html?genre=none">Search by Genre</a></li>

        <!-- Searching by keyword -->
        <form action="search.html" class="navbar-form navbar-left" role="search" method="get">
          <div class="form-group">
            <input name="search" type="text" class="form-control search-field" placeholder="Search by Keyword">
          </div>
        </form>
      </ul>

      <!--link to f&q page -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class="questions-link" href="fandq.html">Frequently Asked<br/>Questions</a></li>
      </ul>
    </div>
  </div>
</nav>
